@model RaiwaySysterm.Models.UserDetail
@{
    ViewData["Title"] = "Login";
   
}
<br />
<div class="limiter animate-box">
    
        <div class="wrap-login100">
            @using (Html.BeginForm("Login", "UserDetail", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <form asp-action="Login" asp-controller="UserDetail" class="login100-form validate-form">
                    <span class="login100-form-logo">
                        <i class="zmdi zmdi-landscape"></i>
                    </span>

                    <span class="login100-form-title p-b-34 p-t-27">
                        Log in
                    </span>


                    <div class="wrap-input100 validate-input">
                        <input class="input100" type="text" name="username" placeholder="Username">
                        <span class="focus-input100" data-placeholder="&#xf207;"></span>
                    </div>

                    <div class="wrap-input100 validate-input">
                        <input class="input100" type="password" name="pass" placeholder="Password">
                        <span class="focus-input100" data-placeholder="&#xf191;"></span>
                    </div>
                    @ViewBag.error
                    <div class="contact100-form-checkbox">
                        <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                        <label class="label-checkbox100" for="ckb1">
                            Remember me
                        </label>
                    </div>

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">
                            Login
                        </button>
                    </div>
                    <div class="text-center p-t-90">
                        <a class="txt1" asp-action="Register" asp-controller="UserDetail" style="color:aqua">
                            Register
                        </a>
                    </div>
                </form>
            }
        </div>
   
</div>
<br />

